* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 20px; */
}

header {
    background-color: #add8e6;
    padding-top: 1rem;
}

header nav {
    margin-bottom: 1rem;
}

header nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



.container {
    max-width: 1000px;
    margin: 0 auto;
}

.bg-blue {
    background-color: #255EE9;
}

.bg-grey {
    background-color: #F6F6F6;
}

/* button */

.btn {
    border-radius: 20px;
    padding: .5rem .8rem;
    border: none;
}

.btn-black {
    color: white;
    background-color: #23272A;
}

.btn-violet {
    color: white;
    background-color: #7289DA; 
}

.footer-btn {
    font-size: 0.7rem;
    color: white;
    background-color: #7289DA; 
}

.nav-links,
.nav-logo,
.nav-login {
    padding: 0.5rem;
}

.nav-logo,
.nav-login {
    min-width: 150px;
}

.nav-links {
    flex-grow: 1;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul a {
    font-size: .9rem;
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    color: white;
}

.nav-login {
    text-align: right;
}

.hero-section {
    background-color: #00008b;
    padding: 220px 0;
    background-image: url(../img/jumbo.png);
    background-size:cover;
}

.hero-section .container {
    color: white;
    max-width: 800px;
    text-align: center;
}

h1 {
    padding-bottom: 2rem;
    font-size: 2.8rem;
}

.hero-section p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.hero-section button {
    padding: .7rem .9rem;
    font-size: 1.2rem;
    margin: 1rem;
}

.row {
    display: flex;
    padding: 70px 0;
}


.col-large {
    width: 70%;
}

.col-large img {
    max-width: 100%;
}

.col-small {
    width: 30%;
}

main h2 {
    font-size: 2.3rem;
    padding-top: 32px;
    padding-bottom: 20px;
}

main p {
    font-size: 1.1rem;
    line-height: 2rem;
}

/* section 4 */
.box-green {
    text-align: center;
}

.box-green p {
    padding: 0 3rem;
}

.box-green img {
    width: 100%;
}

.box-green button {
    margin: 3rem 0;
    font-size: .9rem;

}


/* footer */

footer {
    background-color: #23272A;
    padding-top: 6px;
}

footer .col {
    flex-grow: 1;
    min-height: 300px;
}

footer .col-large {
    width: 15%;
    
}

footer .col-large h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

footer .col-large h3,
#blue-links {
    color: #7289DA;

}

footer .col-large span {
    color: white;
}

footer hr {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.secondary-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-logo,
.footer-btn {
    padding: 0.5rem;
}

.footer-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-links li a {
    font-size: .9rem;
    display: inline-block;
    padding: .4rem 0;
    text-decoration: none;
    color: white;
}

.social-logo {
    padding-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 30px;
}

footer .col-large img {
    max-width: 100%;
    padding: 0.5rem;
}

#lenguage {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100px;
    align-items: center;
}